---
http_interactions:
- request:
    method: post
    uri: https://connect.squareup.com/oauth2/clients/SQUARE_APP_ID/access-token/renew
    body:
      encoding: UTF-8
      string: '{"access_token":"square_token"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - AUTHORIZATION
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"access_token":"square_token","token_type":"bearer","merchant_id":"square_merchant_id","expires_at":"2014-11-26T13:38:33Z"}'
  recorded_at: Mon, 27 Oct 2014 20:46:38 GMT
- request:
    method: get
    uri: https://connect.squareup.com/v1/square_merchant_id/categories
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - AUTHORIZATION
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"1314222579"'
      X-Response-Time:
      - 458ms
    body:
      encoding: UTF-8
      string: '[{"id":"133893cd-13b4-45e5-97b9-cf02545e950f","name":"Spree"},{"id":"1c2e5a67-a1d0-4f19-8ed5-ae2646fc87b0","name":"New
        Category"},{"id":"4ed45507-ca97-472d-9a1a-ce1d9372f232","name":"Test Category"},{"id":"54cb7018-0b35-45ee-b916-818321a6c398","name":"Clothes"},{"id":"65fd2a74-31a3-438c-b9fc-167e6cab2485","name":"Movies"},{"id":"83fe4ff1-e75f-444a-97b2-3fc88df97929","name":"Clothing"},{"id":"9b15dbc2-ffec-4599-ab00-a9c41b67b373","name":"Awesome
        New Category"},{"id":"c45a1e4a-a7ae-41db-abc5-140f94ffa27a","name":"Action
        Movies"},{"id":"f641f88a-63e3-4cb5-bc1e-94ad5a8c0cb4","name":"Video Games"}]'
  recorded_at: Mon, 27 Oct 2014 20:46:39 GMT
- request:
    method: post
    uri: https://connect.squareup.com/v1/square_merchant_id/items
    body:
      encoding: UTF-8
      string: '{"id":"TESTING7","name":"Testing7","description":"Awesome Spree T-Shirt","variations":[{"id":null,"name":"SPREE-T-SHIRT-S","sku":"SPREE-T-SHIRT-S","track_inventory":true,"price_money":{"amount":3999,"currency_code":"USD"}}],"category_id":"54cb7018-0b35-45ee-b916-818321a6c398"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - AUTHORIZATION
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Response-Time:
      - 293ms
    body:
      encoding: UTF-8
      string: '{"visibility":"PUBLIC","available_online":false,"available_for_pickup":false,"id":"TESTING7","description":"Awesome
        Spree T-Shirt","name":"Testing7","taxable":false,"category_id":"54cb7018-0b35-45ee-b916-818321a6c398","category":{"id":"54cb7018-0b35-45ee-b916-818321a6c398","name":"Clothes"},"variations":[{"pricing_type":"FIXED_PRICING","track_inventory":true,"inventory_alert_type":"NONE","id":"c5ca4032-dc59-4ba2-82f1-e9fbdc61e742","name":"SPREE-T-SHIRT-S","price_money":{"currency_code":"USD","amount":3999},"sku":"SPREE-T-SHIRT-S","ordinal":0,"item_id":"TESTING7"}],"modifier_lists":[],"fees":[],"images":[]}'
  recorded_at: Mon, 27 Oct 2014 20:46:41 GMT
recorded_with: VCR 2.9.3
