---
http_interactions:
- request:
    method: get
    uri: https://connect.squareup.com/v1/5C96A4NQP74AC/orders?limit=100&order=DESC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - AUTHORIZATION
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"1627501091"'
      X-Response-Time:
      - 250ms
    body:
      encoding: UTF-8
      string: '[{"subtotal_money":{"currency_code":"USD","amount":100},"tender":{"type":"CREDIT_CARD","total_money":{"currency_code":"USD","amount":100},"card_brand":"VISA","pan_suffix":"1840"},"id":"QJ31BXR4","merchant_token":"5C96A4NQP74AC","shipping_address":{"address_line_1":"4600
        East West Highway","address_line_2":"800","locality":"Bethesda","administrative_district_level_1":"MD","postal_code":"20814","country_code":"US"},"state":"COMPLETED","created_at":"2014-10-21T16:44:19Z","payment_id":"lrOQ3bzgNrjXlohcoG7KvxMF","recipient_phone_number":"+1
        408-399-4719","updated_at":"2014-10-21T17:11:52Z","total_discount_money":{"currency_code":"USD","amount":0},"shipped_tracking_number":"123","recipient_name":"Spree
        ","expires_at":"2014-10-28T16:55:16Z","total_tax_money":{"currency_code":"USD","amount":0},"total_shipping_money":{"currency_code":"USD","amount":0},"buyer_email":"wesleyketchum@gmail.com","total_price_money":{"currency_code":"USD","amount":100}},{"subtotal_money":{"currency_code":"USD","amount":100},"tender":{"type":"CREDIT_CARD","total_money":{"currency_code":"USD","amount":100},"card_brand":"VISA","pan_suffix":"1111"},"id":"EDA6WWVW","merchant_token":"5C96A4NQP74AC","shipping_address":{"address_line_1":"4600
        East West Highway","address_line_2":"800","locality":"Bethesda","administrative_district_level_1":"MD","postal_code":"20814","country_code":"US"},"state":"REJECTED","created_at":"2014-[...]
