---
http_interactions:
- request:
    method: post
    uri: https://connect.squareup.com/oauth2/clients/SQUARE_APP_ID/access-token/renew
    body:
      encoding: UTF-8
      string: '{"access_token":"square_token"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - AUTHORIZATION
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"access_token":"square_token","token_type":"bearer","merchant_id":"square_merchant_id","expires_at":"2014-11-26T13:38:33Z"}'
  recorded_at: Mon, 27 Oct 2014 20:43:39 GMT
- request:
    method: get
    uri: https://connect.squareup.com/v1/square_merchant_id/orders?limit=100&order=DESC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - AUTHORIZATION
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"-412183779"'
      X-Response-Time:
      - 290ms
    body:
      encoding: UTF-8
      string: '[{"total_tax_money":{"currency_code":"USD","amount":0},"recipient_phone_number":"+1
        408-399-4719","total_discount_money":{"currency_code":"USD","amount":0},"id":"QJ31BXR4","shipped_tracking_number":"123","expires_at":"2014-10-28T16:55:16Z","subtotal_money":{"currency_code":"USD","amount":100},"total_price_money":{"currency_code":"USD","amount":100},"buyer_email":"wesleyketchum@gmail.com","recipient_name":"Spree
        ","updated_at":"2014-10-21T17:11:52Z","state":"COMPLETED","payment_id":"lrOQ3bzgNrjXlohcoG7KvxMF","tender":{"type":"CREDIT_CARD","total_money":{"currency_code":"USD","amount":100},"card_brand":"VISA","pan_suffix":"1840"},"created_at":"2014-10-21T16:44:19Z","shipping_address":{"address_line_1":"4600
        East West Highway","address_line_2":"800","locality":"Bethesda","administrative_district_level_1":"MD","postal_code":"20814","country_code":"US"},"merchant_token":"square_merchant_id","total_shipping_money":{"currency_code":"USD","amount":0}},{"total_tax_money":{"currency_code":"USD","amount":0},"recipient_phone_number":"+1
        408-399-4719","total_discount_money":{"currency_code":"USD","amount":0},"id":"EDA6WWVW","subtotal_money":{"currency_code":"USD","amount":100},"total_price_money":{"currency_code":"USD","amount":100},"buyer_email":"sameer@spreecommerce.com","recipient_name":"Spree
        ","updated_at":"2014-10-16T19:12:44Z","state":"REJECTED","payment_id":"FA2PDc1cHFUkNhW06Fw5cvMF","ten[...]
- request:
    method: get
    uri: https://connect.squareup.com/v1/square_merchant_id/payments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - AUTHORIZATION
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"-1010873745"'
      X-Response-Time:
      - 554ms
    body:
      encoding: UTF-8
      string: '[{"additive_tax":[],"creator_id":"square_merchant_id","payment_url":"https://squareup.com/dashboard/sales/transactions/a4PCjuTSdXzuZT8N2MWJoxMF","net_total_money":{"currency_code":"USD","amount":97},"tip_money":{"currency_code":"USD","amount":0},"inclusive_tax":[],"itemizations":[{"name":"ItemA","quantity":"1.00000000","item_variation_name":"Item
        Name B","item_detail":{"category_name":"Test Category","sku":"SKUB","item_id":"ae84b5f0-da57-40ca-884e-11b1cdbae678","item_variation_id":"4c72dad8-d0ff-4b79-8a08-886b07cd6392"},"total_money":{"currency_code":"USD","amount":100},"single_quantity_money":{"currency_code":"USD","amount":100},"gross_sales_money":{"currency_code":"USD","amount":100},"discount_money":{"currency_code":"USD","amount":0},"net_sales_money":{"currency_code":"USD","amount":100},"taxes":[],"discounts":[],"modifiers":[]}],"refunded_money":{"currency_code":"USD","amount":-100},"id":"a4PCjuTSdXzuZT8N2MWJoxMF","total_collected_money":{"currency_code":"USD","amount":100},"inclusive_tax_money":{"currency_code":"USD","amount":0},"tax_money":{"currency_code":"USD","amount":0},"tender":[{"type":"CREDIT_CARD","name":"Credit
        Card","total_money":{"currency_code":"USD","amount":100},"card_brand":"VISA","pan_suffix":"1776","entry_method":"WEB_FORM"}],"created_at":"2014-09-24T20:00:11Z","refunds":[{"type":"FULL","created_at":"2014-10-01T21:42:47Z","processed_at":"2014-10-01T21:42:47Z","reason":"Expired
        order","refunded_money":{"currency_code":"USD","amount":-100}}],"processing_fee_money":{"currency_code":"USD","amount":-3},"device":{},"discount_money":{"currency_code":"USD","amount":0},"swedish_rounding_money":{"currency_code":"USD","amount":0},"merchant_id":"square_merchant_id","receipt_url":"https://squareup.com/receipt/preview/a4PCjuTSdXzuZT8N2MWJoxMF","additive_tax_money":{"currency_code":"USD","amount":0}},{"additive_tax":[],"creator_id":"square_merchant_id","payment_url":"https://squareup.com/dashboard/sales/transactions/lrOQ3bzgNrjXlohcoG7KvxMF","net_total_money":{"currency_code":"USD","amount":97},"tip_money":{"currency_code":"USD","amount":0},"inclusive_tax":[],"itemizations":[{"name":"ItemA","quantity":"1.00000000","notes":"Some
        description here.","item_variation_name":"Regular","item_detail":{"category_name":"Test
        Category","sku":"SKUA","item_id":"ae84b5f0-da57-40ca-884e-11b1cdbae678","item_variation_id":"da61c6e4-aaaf-4723-9565-1dfa20f0e56d"},"total_money":{"currency_code":"USD","amount":100},"single_quantity_money":{"currency_code":"USD","amount":100},"gross_sales_money":{"currency_code":"USD","amount":100},"discount_money":{"currency_code":"USD","amount":0},"net_sales_money":{"currency_code":"USD","amount":100},"taxes":[],"discounts":[],"modifiers":[]}],"refunded_money":{"currency_code":"USD","amount":0},"id":"lrOQ3bzgNrjXlohcoG7KvxMF","total_collected_money":{"currency_code":"USD","amount":100},"inclusive_tax_money":{"currency_code":"USD","amount":0},"tax_money":{"currency_code":"USD","amount":0},"tender":[{"type":"CREDIT_CARD","name":"Credit
        Card","total_money":{"currency_code":"USD","amount":100},"card_brand":"VISA","pan_suffix":"1840","entry_method":"WEB_FORM"}],"created_at":"2014-10-21T16:44:19Z","refunds":[],"processing_fee_money":{"currency_code":"USD","amount":-3},"device":{},"discount_money":{"currency_code":"USD","amount":0},"swedish_rounding_money":{"currency_code":"USD","amount":0},"merchant_id":"square_merchant_id","receipt_url":"https://squareup.com/receipt/preview/lrOQ3bzgNrjXlohcoG7KvxMF","additive_tax_money":{"currency_code":"USD","amount":0}}]'
  recorded_at: Mon, 27 Oct 2014 20:43:42 GMT
recorded_with: VCR 2.9.3
