---
http_interactions:
- request:
    method: put
    uri: https://connect.squareup.com/v1/5C96A4NQP74AC/orders/QJ31BXR4
    body:
      encoding: UTF-8
      string: '{"order_id":"QJ31BXR4","shipped_tracking_number":"123","action":"COMPLETE"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - AUTHORIZATION
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Response-Time:
      - 128ms
    body:
      encoding: UTF-8
      string: '{"state":"COMPLETED","shipped_tracking_number":"123","created_at":"2014-10-21T16:44:19Z","buyer_email":"wesleyketchum@gmail.com","tender":{"type":"CREDIT_CARD","total_money":{"currency_code":"USD","amount":100},"card_brand":"VISA","pan_suffix":"1840"},"total_discount_money":{"currency_code":"USD","amount":0},"id":"QJ31BXR4","total_tax_money":{"currency_code":"USD","amount":0},"updated_at":"2014-10-21T17:11:52Z","expires_at":"2014-10-28T16:55:16Z","merchant_token":"5C96A4NQP74AC","recipient_phone_number":"+1
        408-399-4719","recipient_name":"Spree ","total_shipping_money":{"currency_code":"USD","amount":0},"payment_id":"lrOQ3bzgNrjXlohcoG7KvxMF","order_history":[{"action":"ORDER_PLACED","created_at":"2014-10-21T16:44:20Z"},{"action":"PAYMENT_RECEIVED","created_at":"2014-10-21T16:45:28Z"},{"action":"PAYMENT_RECEIVED","created_at":"2014-10-21T16:55:16Z"},{"action":"COMPLETED","created_at":"2014-10-21T17:11:52Z"}],"shipping_address":{"address_line_1":"4600
        East West Highway","address_line_2":"800","locality":"Bethesda","administrative_district_level_1":"MD","postal_code":"20814","country_code":"US"},"subtotal_money":{"currency_code":"USD","amount":100},"total_price_money":{"currency_code":"USD","amount":100}}'
  recorded_at: Fri, 24 Oct 2014 12:36:54 GMT
recorded_with: VCR 2.9.3
