---
http_interactions:
- request:
    method: post
    uri: https://connect.squareup.com/oauth2/clients/SQUARE_APP_ID/access-token/renew
    body:
      encoding: UTF-8
      string: '{"access_token":"square_token"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - AUTHORIZATION
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"access_token":"square_token","token_type":"bearer","merchant_id":"square_merchant_id","expires_at":"2014-11-26T13:38:33Z"}'
  recorded_at: Mon, 27 Oct 2014 20:43:14 GMT
- request:
    method: put
    uri: https://connect.squareup.com/v1/square_merchant_id/orders/QJ31BXR4
    body:
      encoding: UTF-8
      string: '{"order_id":"QJ31BXR4","shipped_tracking_number":"123","action":"COMPLETE"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - AUTHORIZATION
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Response-Time:
      - 250ms
    body:
      encoding: UTF-8
      string: '{"updated_at":"2014-10-21T17:11:52Z","recipient_phone_number":"+1 408-399-4719","id":"QJ31BXR4","buyer_email":"wesleyketchum@gmail.com","total_shipping_money":{"currency_code":"USD","amount":0},"total_price_money":{"currency_code":"USD","amount":100},"tender":{"type":"CREDIT_CARD","total_money":{"currency_code":"USD","amount":100},"card_brand":"VISA","pan_suffix":"1840"},"payment_id":"lrOQ3bzgNrjXlohcoG7KvxMF","subtotal_money":{"currency_code":"USD","amount":100},"expires_at":"2014-10-28T16:55:16Z","merchant_token":"square_merchant_id","total_discount_money":{"currency_code":"USD","amount":0},"total_tax_money":{"currency_code":"USD","amount":0},"recipient_name":"Spree
        ","state":"COMPLETED","shipped_tracking_number":"123","created_at":"2014-10-21T16:44:19Z","shipping_address":{"address_line_1":"4600
        East West Highway","address_line_2":"800","locality":"Bethesda","administrative_district_level_1":"MD","postal_code":"20814","country_code":"US"},"order_history":[{"action":"ORDER_PLACED","created_at":"2014-10-21T16:44:20Z"},{"action":"PAYMENT_RECEIVED","created_at":"2014-10-21T16:45:28Z"},{"action":"PAYMENT_RECEIVED","created_at":"2014-10-21T16:55:16Z"},{"action":"COMPLETED","created_at":"2014-10-21T17:11:52Z"}]}'
  recorded_at: Mon, 27 Oct 2014 20:43:15 GMT
recorded_with: VCR 2.9.3
